@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,100&display=swap');



                        /*vVARIABLES*/


:root {
    --main-bg-color: #ee8a2f;
    --second-bg-color: #fff;
    --first-text-color: #fff;
    --second-text-color:#e99c31;
    --primary-font-family: 'Roboto', Arial;
    --third-text-color: #767676;
    --third-bg-color: #f0f0f6;
}



                    /*RESUME SECTION*/


.aboutme__container{
    display: flex;
    align-items: center;
    width:100%;
    height: 600px;
    justify-content: center;
    position: relative;
    top: 90px;
}

.aboutme__wrapper{
    display: flex;
    align-items: center;
    width: 60%;
    height: 500px;
    flex-direction: column;
}

.aboutme__title{
    position: relative;
    align-self: flex-start;
    margin-left:70px;
    top: 40px;
    font-size: 2.2em;
    font-family: var(--primary-font-family);
    font-weight: 400;
}

.aboutme__card{
    position: relative;
    top: 10px;
    height:350px;
    width: 80%;
    box-shadow: 0px 6px 6px #2222;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    bottom: 50px;
}

.aboutme__subtitle{
    font-family: var(--primary-font-family);
    font-size: 1.3em;
    font-weight: 400;
}

.aboutme__content{
    font-family: var(--primary-font-family);
    color: var(--third-text-color);
    font-size: 0.8em;
    font-weight: lighter;
}

.lenguages-hobbies-container{
    display: flex;
    width: 100%;
    height: 200px;
    font-size: 0.8em;
}

.lenguages-container{
    display: flex;
    width: 50%;
    height: 100%;
    position: relative;
    flex-direction: column;
    padding-left: 10px;
    font-family: var(--primary-font-family);
}

.lenguage-text-container{
    width: 80%;
    display: flex;
    height: 50px;
    justify-content: space-between;
}

.lenguages-title{
    font-size: 1.2em;
}

.progress-bar-container{
    width: 80%;
    height: 10px;
    border: 1px solid var(--second-text-color);
    border-radius: 10px;
    margin-bottom: 20px;
}



.inspirational-quote-wrapper{
    position:relative;
    top: 50px;
    display: flex;
    width: 40%;
    height: 550px;
    align-items: center;
    font-family: var(--primary-font-family);

}

.inspirational-quote{
    font-size: 3em;
    right: 80px;
    top: 20px;
}

.logo{
    width: 45%;
    position: absolute;
    bottom: 280px;
    right: 115px;
}


.progress-bar {
    background-color: var(--main-bg-color);
    position: relative;
    height: 8px;
    border-radius: 10px;

}

.french-bar{
    width: 60%;
    display: flex;
}

.english-bar{
    display: flex;
    width: 80%;
}



.hobbies-container{
    flex-direction: column;
    position: relative;
    display: flex;
    width: 50%;
    height: 200px;
    font-family: var(--primary-font-family);
}

.hobbies-title{
    position: relative;
    left: 20px;
    font-weight: bold;
    font-size: 1.2em;
}

.icons-container{
    display: flex;
    position: relative;
    top: 10px;
    flex-direction: row;
    width: 100%;
    height: 120px;
    border-bottom: 2px solid #ccc;
    align-items: center;
    justify-content: space-between;
}

.icon-container{
    display: flex;
    flex-direction: column;
    height: 80px;
    width:90px;
    align-items: center;
    justify-content: center;
}

.hobbies-img{
    width: 50px;
}

.hobbies-title{
    font-size: 1.3;
}
.more-aboutme-container{
    width:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.more-aboutme-container h6{
    color: var(--third-text-color);
    font-weight: lighter;
}

.network-icon{
    width: 10px;
    height: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.experience-container{
    display: flex;
    text-align: center;
    flex-direction: column;
    overflow-y: hidden;
    align-items: center;
    position: relative;
    text-justify: center;
    font-family: var(--primary-font-family);
    width: 100%;
    height: 2200px;
    top: 100px;
}

.experience-background-img{
    position: absolute;
    width: 120%;
    top: 480px;
    left: -420px;
}

.experience-title{
    font-size: 1.8em;
    text-shadow: #767676;
}

.experience-subtitle{

    font-size: 0.8em;
    font-weight: lighter;
}

.experience-text-container{
    width: 50%;
    
}

.certificates-card-grid{
    width: 60%;
    position: relative;
    top: 30px;
    height:900px;
    box-shadow: 3px 6px 8px 3px #2222;
    border-radius: 20px 20px 0px 0px;
    padding-left: 25px;
    padding-right: 25px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 10% 23% 10% 23% 10% 23%;
    text-align: left;
}
  

  .item-5, .item-9, .item-1{
      display: flex;
      text-align: left;
      padding-left: 50px;
      padding-top: 30px;
      font-size: 1.2em;
  }

  .item-6, .item-10, .item-2{
    display: flex;
    text-align: left;
    padding-left: 50px;
    padding-top: 30px;
    font-size: 1.2em; 
    margin-top: 10px;
  }

  .item-7, .item-11, .item-3{
      display: flex;
      padding-left: 50px;
      padding-top: 30px;
      border-bottom: 2px solid var(--third-bg-color);
  }

  .course-date{
      background-color: var(--main-bg-color);
      height: 20px;
      font-weight: 400;
      padding: 0px 3px 0px 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 20px;
      color: var(--first-text-color);
  }

  .list-item-text{
      margin: 2px;
      width: 190px;
      color: var(--third-text-color);
      font-weight: lighter;
      font-size: 0.8em;
  }

  .list-text{
    font-weight: lighter;
    color:var(--third-text-color);
}

  .list-point{
    width: 180px;
  }

  .list-point::marker{
      color: var(--main-bg-color);
      margin-left: 20px;
  }
  
  .item-8, .item-12, .item-4 {
    display: flex;
    padding-left: 50px;
    padding-top: 12px;
    border-bottom: 2px solid var(--third-bg-color);
    
    
  }

  .course-date{
      width: 100px;
      font-size: 0.65em;
  }

  .certificate-description{
      font-weight: lighter;
      color: var(--third-text-color);
      text-align: left;
      width: 90%;
      font-size: 0.9rem;
  }


                /*TECH STACK SECTION*/

.tech-stack-card{
    overflow-x: hidden;
    width: 60%;
    position: relative;
    top: 100px;
    height:250px;
    box-shadow: 3px 6px 6px 3px #2222;
    border-radius: 0px 0px 20px 20px;
    padding-left: 25px;
    padding-right: 25px; 
    text-align: left;
}

.tech-stack-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}

.tech-stack-title{
    position: relative;
    left: 20px;
}


.stack-icon{
    grid-template-columns: repeat(1fr,7);
    width: 120px;
    height: 115px;
}


.reference-section{
    display: flex;
    width: 100%;
    position: relative;
    top: 100px;
    justify-content: center;
    height: 350px;
}



.reference-container{
display:flex;
width: 65%;
justify-content: space-between;
padding: 10px;
}

.reference-title-container{
    width:100%;
    position:relative;
    top: 100px;
    display:flex;
    text-align: center;
}

.reference-title{
    position: relative;
    font-family: var(--primary-font-family);
    font-size: 2em;
    width: 100%;
    right: 320px;
    
}

.reference-card{
    justify-content: center;
    width: 25%;
    position: relative;
    height:280px;
    box-shadow: 3px 6px 6px 3px #2222;
    border-radius: 20px;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px; 
    text-align: left;
}

.reference-name{
    margin: 0px;
}

.reference-card-subtitle{
    font-weight: lighter;
    color: var(--third-text-color);
}

.reference-profile-container{
    width: 100%;
    text-align: left;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.reference-description{
    font-weight: lighter;
    color: var(--third-text-color);
    margin: 5px;
    
}

.reference-point-container{
    display: flex;
    width: 120px;
    justify-content: space-around;
    position: relative;
    top: 150px;
}


.reference-point{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:var(--third-bg-color);
}

.reference-intern-point{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:var(--main-bg-color);

}



@media (max-width: 420px){ 

    
    .aboutme__container{
        flex-direction: column-reverse;
        top: 270px;
        position: relative;

    }

    .more-aboutme-container{
        justify-content: center;
    }

    .aboutme__title{
        top: -340px;
        margin-left: 0px;
        font-size: 1.6em;
    }

    .aboutme__wrapper{
        width:80%;
    }

    .logo{
        top: 40px;
        right: 15px;
        width: 150px;
    }


    .inspirational-quote-wrapper{
        width: 100%;
        justify-content: center;
        font-size: 1.6em;
        top:-0px;
    }

    .hobbies-title{
        left: 0px;
    }


    .lenguages-container{
        width: 100px;
    }

    .lenguages-hobbies-container{
        flex-direction: column;
    }

    .inspirational-quote{
        font-size: 1.2em;
    }
    
    .hobbies-container{
        width: 100%;
        top: -10px;
        text-align: center;
    }

    .hobbies-img{
        width: 30px;   
    }

    .aboutme__card{
        width: 80%;
        display: flex;
        flex-direction: column;
        position: absolute;
        height: 584px;
        top: 240px;
        text-align: center;
    }

    /*certificates*/

    .certificates-card-grid{
        grid-template-columns: 100%;
        grid-template-rows: 7% 3% 3% 18% 7% 3% 3% 18% 7% 3% 3% 18%;
        height: 1000px;
        width: 80%;
    }


    .experience-container{
        top: 313px;
        justify-content: center;
    }

    .lenguages-container{
        width: 100%;
    }

    .experience-title{
        font-size: 1.2em;

    }

    .experience-text-container{
        width: 80%;
    }


    .student-text, .course-date{
        margin: 0px;
        margin-right: 30px;
    }

    .reference-point-container{
        top: 220px;
    }

    .item-1{
        grid-row: 1/2;
        text-align: left;
        padding: 0px;
        padding-top: 15px;
        margin-top: 10px;
        margin-left: 15px;
    }

    .school-title{
        margin: 0px;
        height: 10px;
    }

    .item-3{
        align-items: center;
        grid-row: 2/3;
        padding: 0px;
        border: none;
        margin-left: 10px;
    }
    .degree-title{
        margin-top: 10px;
    }
    .item-2{
        grid-row: 3/4;
        padding: 0px;
        margin-left: 10px;
    }

    .item-4{
        justify-content: left;
        text-align: left;
        grid-row: 4/5;
        border: none;
        padding: 0px;
    }

    .item-4 ul{
        margin: 0px;
        padding-left: 20px;
    }

    .item-5{
        margin-left: 15px;
        margin-top: 15px;
        grid-row: 5/6;
        justify-content: left;
        width: 100%;
        padding: 0px;
    }

    .item-6{
        grid-row: 7/8;
        align-items: center;
        padding: 0px;
        border: none;
        margin-left: 10px;

    }

    .item-7{
        margin: 0px;
        margin-bottom: 5px;
        grid-row: 6/7;
        align-items: center;
        padding: 0px;
        border: none;
        margin-left: 10px;
    }

    .item-8{
        margin: 0px;
        grid-row: 8/9;
        align-items: center;
        padding: 0px;
        border: none;
        margin-left: 10px;
    }

    .item-9{
        margin-left: 15px;
        margin-top: 30px;
        grid-row: 9/10;
        justify-content: left;
        width: 100%;
        padding: 0px;
    }

    .item-11{
        margin: 0px;
        margin-bottom: 10px;
        grid-row: 10/11;
        align-items: center;
        padding: 0px;
        border: none;
        margin-left: 10px;
    }

    .item-10{
        grid-row: 11/12;
        align-items: center;
        padding: 0px;
        border: none;
        margin-left: 10px;
    }

    .item-12{
        margin: 0px;
        grid-row: 12/13;
        align-items: center;
        padding: 0px;
        border: none;
        margin-left: 10px;
    }

   

    .tech-stack-card{
        height: 199px;
         position: absolute;
         width: 80%;
         top: 1520px;
         overflow-y: hidden;
    }

    .tech-stack-wrapper{
        width: 100%;
        height: 150px;
        position: relative;
        overflow-y: hidden;
    }

    .stack-icon{
        width: 120px;
        height: 115px;
        position: absolute;
    }

    .logo-1{
        left: 0px;
    }
    .logo-2{
        left: 150px;
    }
    .logo-3{
        left: 300px;
    }

    .logo-4{
        left: 450px;
    }
   
    .logo-5{
        left: 600px;
    }

    .logo-6{
        left: 750px;
    }

    .logo-7{
        left: 900px;
    }


    @keyframes transition {
        50%{
            transform: translateX(-200%);
        }
        100%{
            transform: translateX(0%);  
        }
    }


    @keyframes transition-logo {
        50%{
            transform: translateX(-250%);
        }
        100%{
            transform: translateX(0%);  
        }
    }
     /*References section*/

     .reference-card {
        width: 80%;
        position: absolute;
    }

    .rc2{
        left: 100%;
    }

    .rc3{
        left: 200%;
    }

    .reference-title{
        top: 224px;
        font-size: 1.5em;
        right: 0px;
    }

    .tech-stack-title{
        margin: 0px;
    }

    .reference-title-container{
        top: 120px;

    }

    .reference-section{
        top: 334px;
        height: 480px;
        overflow-y: hidden;
        width: 90%;
       
    }

    .reference-container{
        width: 100%;
        animation: transition 30s infinite;
    }


    
.stack-point-container{
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    top: 165px;
    left: 10px;
}


.stack-point{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:var(--third-bg-color);
}

.stack-intern-point{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:var(--main-bg-color);

}
}
